/* .ant-carousel {
  width: 100%;
  height: 100%;
} */
.ant-carousel .img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  align-items: flex-end;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

/* .companion {
  display: "flex";
  height: "30%";
  justify-content: "center";
  align-items: "center ";
  background-color: "#e8e8e8";
  border-radius: "20px";
} */

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  overflow: hidden;
}
