.header_container {
  display: flex;
  font-family: "aktiv-grotesk", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  letter-spacing: 0.025em;
  flex-direction: column;
}

.header_container a {
  display: flex;
  padding: 0cm 25px 0.2cm 25px;
  color: black;
}
.link {
  color: black;
}
