.responsive1 {
  display: flex;
  align-items: center;
}

.responsive2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "aktiv-grotesk", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.responsive3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_one a:hover {
  color: gray;
}
.responsive3 :hover {
  color: gray;
}

