.footer_img {
  width: 90px;
  height: 90px;
  border-radius: 5px solid black;
}

.footer_wrapper {
  background-image: linear-gradient(40deg, black 50%, gray 50%);
  height: 3px;
  width: 100%;
  padding-top: 0.1cm;
  margin-top: 1cm;
}
h3 {
  color: black;
}

ul {
  padding: 0;
  list-style: none;
}
a {
  color: #454545;
  line-height: 2;
}
address {
  color: #454545;
}
