.newsContainer {
  display: flex;
  justify-content: space-between;
}
.genre :hover {
  color: "#e8e8e8";
}
.ex :hover {
  pointer-events: none;
}

.newsContainer a:hover {
  color: #777777;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.ant-carousel {
  width: "100%";
}
