.newsContainer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.news_a {
  font-family: 'Source Sans Pro', sans-serif;
}

.newsContainer a:hover {
  color: #777777;
}

.a {
  color: black;
}

